.card-container {
    width: 20rem;
    margin: 0.5rem -0.5rem;
}

.card-header {
    font-size: 95%;
    color: '#fff !important';
    background-color: '#000';
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin-bottom: 0.5rem;
}

.card-image {
    object-fit: cover;
    height: 12rem
}

.card-body {
    font-size: 90%;
    font-weight: 200;
    text-align: justify;
    height: 6rem;
    overflow: scroll
}

/* 
@media (max-width: 700px) {
    .card-bodu {
      margin-top: -50px !important
    }
  } */