body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
};

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
};

/* FONTS */

@font-face {
  font-family: "Montserrat";
  src: url(./assets/Fonts/Montserrat/Montserrat-ExtraLight.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
};

@font-face {
  font-family: "Montserrat";
  src: url(./assets/Fonts/Montserrat/Montserrat-Thin.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
};

@font-face {
  font-family: "Montserrat";
  src: url(./assets/Fonts/Montserrat/Montserrat-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
};

@font-face {
  font-family: "Montserrat";
  src: url(./assets/Fonts/Montserrat/Montserrat-Medium.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
};

@font-face {
  font-family: "Montserrat";
  src: url(./assets/Fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
};

@font-face {
  font-family: "Montserrat";
  src: url(./assets/Fonts/Montserrat/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
};

@font-face {
  font-family: "Montserrat";
  src: url(./assets/Fonts/Montserrat/Montserrat-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
};

@font-face {
  font-family: "Montserrat";
  src: url(./assets/Fonts/Montserrat/Montserrat-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
};